{{! this is the team builder page. it will be labeled /team}}

<div class="container margin-cards">
    <div class="card-group">

        {{!-- first pokemon box --}}
        {{#if team.Pokemons.0.name}}
        <div class="pokemon-1 card">
            <img class="card-img-top team-image" src={{team.Pokemons.0.img_url}} alt="Card image pokemon 1">
            <div class="card-body">
                <h5 class="card-title">{{team.Pokemons.0.name}}</h5>
                <p class="card-text">{{team.Pokemons.0.weight}}</p>
            </div>
            {{else}}
            <button class="btn btn-secondary add-pokemon" type="submit" id="add-pokemon">Choose your pokemon</button>
            {{/if}}
        </div>


        {{!-- second pokemon box --}}
        {{#if team.Pokemons.1.name}}
        <div class="pokemon-2 card">
            <img class="card-img-top team-image" src={{team.Pokemons.1.img_url}} alt="Card image pokemon 2">
            <div class="card-body">
                <h5 class="card-title">{{team.Pokemons.1.name}}</h5>
                <p class="card-text">{{team.Pokemons.1.weight}}</p>
            </div>
            {{else}}
            <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
            {{/if}}
        </div>

        {{!-- third pokemon box --}}
        {{#if team.Pokemons.2.name}}
        <div class="pokemon-3 card">

            <img class="card-img-top team-image" src={{team.Pokemons.2.img_url}} alt="Card image pokemon 3">
            <div class="card-body">
                <h5 class="card-title">{{team.Pokemons.2.name}}</h5>
                <p class="card-text">{{team.Pokemons.2.weight}}</p>
                {{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="container margin-cards">
        <div class="card-group">
            {{!-- fourth pokemon box --}}
            {{#if team.Pokemons.3.name}}
            <div class="pokemon-4 card">
                <img class="card-img-top team-image" src={{team.Pokemons.3.img_url}} alt="Card image pokemon 4">
                <div class="card-body">
                    <h5 class="card-title">{{team.Pokemons.3.name}}</h5>
                    <p class="card-text">{{team.Pokemons.3.weight}}</p>
                </div>
                {{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>

            {{!-- fifth pokemon box --}}
            {{#if team.Pokemons.4.name}}
            <div class="pokemon-5 card">
                <div class="dropdown">

                </div>
                <img class="card-img-top team-image" src={{team.Pokemons.4.img_url}} alt="Card image pokemon 5">
                <div class="card-body">
                    <h5 class="card-title">{{team.Pokemons.4.name}}</h5>
                    <p class="card-text">{{team.Pokemons.4.weight}}</p>
                    {{else}}
                    <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                        {{/if}}
                </div>
            </div>

            {{!-- six pokemon box --}}
            {{#if team.Pokemons.5.name}}
            <div class="pokemon-6 card">
                <img class="card-img-top team-image"
                    src={{team.Pokemons.5.img_url}}
                    alt="Card image pokemon 6">
                <div class="card-body">
                    <h5 class="card-title">{{team.Pokemons.5.name}}</h5>
                    <p class="card-text">{{team.Pokemons.5.weight}}</p>
                </div>
{{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                    {{/if}}
            </div>
        </div>
    </div>

    <script src="/javascript/team.js"></script>