{{! this is the team builder page. it will be labeled /team}}

<div class="container margin-cards">
    <div class="card-group">

        {{!-- first pokemon box --}}
        <div class="pokemon card">
            {{#if team.Pokemons.0.name}}
            <img class="card-img-top team-image" src={{team.Pokemons.0.img_url}} alt="Card image pokemon 1">
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.0.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.0.height}} decimetres</br>
                    Weight: {{team.Pokemons.0.weight}} hectograms</br>
                    Type: {{team.Pokemons.0.type}} </p>
            </div>
            <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.0.id}}>Delete Pokemon</button>
            {{else}}
            <button class="btn btn-secondary add-pokemon" type="submit" id="add-pokemon">Choose your pokemon</button>
            {{/if}}
        </div>


        {{!-- second pokemon box --}}

        <div class="pokemon card">
            {{#if team.Pokemons.1.name}}
            <img class="card-img-top team-image" src={{team.Pokemons.1.img_url}} alt="Card image pokemon 2">
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.1.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.1.height}} decimetres</br>
                    Weight: {{team.Pokemons.1.weight}} hectograms</br>
                    Type: {{team.Pokemons.1.type}} </p>
            </div>
            <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.1.id}}>Delete Pokemon</button>
            {{else}}
            <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
            {{/if}}
        </div>

        {{!-- third pokemon box --}}

        <div class="pokemon card">
        {{#if team.Pokemons.2.name}}
            <img class="card-img-top team-image" src={{team.Pokemons.2.img_url}} alt="Card image pokemon 3">
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.2.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.2.height}} decimetres</br>
                    Weight: {{team.Pokemons.2.weight}} hectograms</br>
                    Type: {{team.Pokemons.2.type}} </p>
            </div>
            <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.2.id}}>Delete Pokemon</button>
                {{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>
        </div>
    </div>
    

    <div class="container margin-cards">
        <div class="card-group">

            {{!-- fourth pokemon box --}}
            <div class="pokemon card">
                {{#if team.Pokemons.3.name}}
                <img class="card-img-top team-image" src={{team.Pokemons.3.img_url}} alt="Card image pokemon 4">
                <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.3.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.3.height}} decimetres</br>
                    Weight: {{team.Pokemons.3.weight}} hectograms</br>
                    Type: {{team.Pokemons.3.type}} </p>
                </div>
                <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.3.id}}>Delete Pokemon</button>
                {{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>

            {{!-- fifth pokemon box --}}
            <div class="pokemon card">
            {{#if team.Pokemons.4.name}}
                <img class="card-img-top team-image" src={{team.Pokemons.4.img_url}} alt="Card image pokemon 5">
                <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.4.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.4.height}} decimetres</br>
                    Weight: {{team.Pokemons.4.weight}} hectograms</br>
                    Type: {{team.Pokemons.4.type}} </p>
                </div>
                <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.4.id}}>Delete Pokemon</button>
                    {{else}}
                    <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>
            

            {{!-- six pokemon box --}}

            <div class="pokemon card">
                {{#if team.Pokemons.5.name}}
                <img class="card-img-top team-image"
                    src={{team.Pokemons.5.img_url}}
                    alt="Card image pokemon 6">
                <div class="card-body">
                <h5 class="card-title text-uppercase">{{team.Pokemons.5.name}}</h5>
                <p class="card-text">Height: {{team.Pokemons.5.height}} decimetres</br>
                    Weight: {{team.Pokemons.5.weight}} hectograms</br>
                    Type: {{team.Pokemons.5.type}} </p>
                </div>
                <button class="btn btn-outline-danger delete-pokemon" type="submit" id="delete-pokemon" data-id={{team.Pokemons.5.id}}>Delete Pokemon</button>
                {{else}}
                <button class="btn btn-secondary add-pokemon" type="button" id="add-pokemon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Choose your pokemon</button>
                {{/if}}
            </div>
        </div>
    </div>

    <script src="/javascript/team.js"></script>